@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lobster', sans-serif;
}

body{
    background: #f9f9f9;
    min-height: 100vh;
    overflow-x: hidden;
    
}

header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 2em;
    color: #10382f;
    pointer-events: none;
}

.navigation a{
    text-decoration: none;
    color: #10382f;
    padding: 6px 15px;
    border-radius: 20px;
    margin: 8 10px;
    font-weight: 300;
}

.navigation a:hover, 
.navigation a.active{
    background: #10382f;
    color: #fff;
}

.parallax{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#text{
    position: absolute;
    font-size: 5em;
    color: #333;
    /* text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25); */
    text-shadow: 2px 6px 6px rgba(255, 255, 255, 0.25);
}

.parallax img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
}
.sec{
    position: relative;
    background: linear-gradient(180deg, #10382F 0%, #346BC0 100%) ;
    padding: 100px;
    height: 1200px;
}
.sec h2{
    font-size: 3em;
    color: #fff;
    margin-bottom: 10px;
    font-weight: 50;
}
.sec p{
    font-size: 1em;
    color: #fff;
    font-weight: 100;
    font-family: 'Nunito', sans-serif;
    font-size: 1.5em;
}
.sec h3{
    font-family: 'Nunito', sans-serif;
    font-size: 1.5em;
    color: #fff;
    display: flex;
}
.abtMe{
    text-align: center;
    padding: 30px;
    
}
/* .tech{
    display: flex;
    justify-content: center;
    padding: 30px;
    font-family: 'Nunito', sans-serif;
    font-size: 2.5em;
} */


.Card {

    border: 1px solid rgba(255, 255, 255, .25);
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.45);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(15px);
  }

.skills__aline{
    display: flex;
    padding: 10px;
    align-items: flex-start;
    gap: 10px;
}
.skill__logo {
    height: 60px;
    width: 60px;
    display: inline;

}
.sec .cloudss{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
}

.third{
    position: relative;
    background: #dbdecb ;
    padding: 100px;
    height: 1000px;
}
