@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lobster', sans-serif;
}

body{
    background: #f9f9f9;
    min-height: 100vh;
    overflow-x: hidden;
    
}

header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 2em;
    color: #10382f;
    pointer-events: none;
}

.navigation a{
    text-decoration: none;
    color: #10382f;
    padding: 6px 15px;
    border-radius: 20px;
    margin: 8 10px;
    font-weight: 300;
}

.navigation a:hover, 
.navigation a.active{
    background: #10382f;
    color: #fff;
}

.parallax{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#text{
    position: absolute;
    font-size: 5em;
    color: #333;
    text-shadow: 2px 6px 6px rgba(255, 255, 255, 0.25);
}

.parallax img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
}
.sec{
    position: relative;
    background: linear-gradient(180deg, #10382F 0%, #346BC0 100%) ;
    padding: 100px;
    height: 1200px;
}
.sec h2{
    font-size: 3em;
    color: #fff;
    margin-bottom: 10px;
    font-weight: 50;
}
.sec p{
    color: #fff;
    font-weight: 100;
    font-family: 'Nunito', sans-serif;
    font-size: 1.5em;
}
.sec h3{
    font-family: 'Nunito', sans-serif;
    font-size: 1.5em;
    color: #fff;
    display: flex;
}
.abtMe{
    text-align: center;
    padding: 30px;
    
}



.Card {

    border: 1px solid rgba(255, 255, 255, .25);
    border-radius: 20px;
    background-color: rgba(56, 99, 91, 0.45);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(15px);
  }

.skills__aline{
    display: flex;
    padding: 0 50px;
    align-items: flex-start;
    gap: 18px;
}
.skill__logo {
    
    height: 60px;
    width: 60px;

}
.sec .cloudss{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
}

.third{
    position: relative;
    background: #dbdecb ;
    padding: 100px;
    height: 1000px;
}




.main{
    width: 100%;
    height: auto;
    display: grid;
    place-items: center;
}
.main .heading{
    font-size: 3em;
    font-weight: 500;
    color: rgb(38, 87, 135);
    margin-bottom: 80px;
    
}


/* Timeline Css Start  */

.Timeline{
    width: 80%;
    height: auto;
    position: relative;
    
    transform: 15px;
}
.Timeline ul::after{
    position: absolute;
    content: '';
    width: 2px;
    height: 100%;
    left: -30px;
    background-color: #346BC0;
    
}
.Timeline ul{
    list-style: none;
}
.Timeline ul li {
    width: 80%;
    float: left;
    clear: none;
    height: auto;
    padding: 15px 20px;
    background-color: rgba(255, 255, 255, 0.7);
    margin-bottom: 80px;
    border-radius: 10px;
    box-shadow: 4px 4px 25px rgba(51, 51, 51, 0.192);
    position: relative;
    z-index: 99;
}

.Timeline ul li:nth-child(even){
    transform: translateX(0);
}
.Timeline ul li:nth-child(4){
    margin-bottom: 0;
}
.Timeline ul li .title{
    font-family: 'Nunito', sans-serif;
    font-size: 1.5em;
    color: rgb(38, 87, 135);
}
ul li p{
    font-family: 'Nunito', sans-serif;
    font-size: 1em;
    color: rgb(74, 120, 191);
    margin: 7px 0;
    line-height: 23px;
}

ul li .date{
    font-family: 'Nunito', sans-serif;
    position: absolute;
    top: -45px;
    width: 135px;
    height: 35px;
    border-radius: 20px;
    color: #fff;
    background: #346BC0;
    display: grid;
    place-items: center;
    font-size: 14px;
}
.Timeline ul li .circle{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color:rgba(114, 164, 242,0.4);
    position: absolute;
    top: 0;
    left: -30px;
    transform: translate(-50%, -50%);
}
.Timeline ul li .circle::after{
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: rgb(38, 88, 137);
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}